<%- include('../layouts/header.ejs') %>
<%- include('../layouts/commonhead.ejs',{session}) %>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

        <div class="container-xl px-4 mt-4 mb-5">
            <form action="/addNewAddress" method="post">
                <div class="row justify-content-center">

                    <div class="col-xl-10">

                        <div class="card mb-4">
                            <div class="card-header">Account Details</div>
                            <div class="card-body">

                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Username</label>
                                    <input name="username" class="form-control" id="inputUsername" type="text"
                                        placeholder="Enter new username">
                                </div>

                                <div class="mb-3">
                                    <label class="small mb-1" for="inputOrgName">Address</label>
                                    <textarea name="address" id="" cols="30" rows="5" class="form-control"
                                        id="inputOrgName" type="text" placeholder="Enter your address"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">City</label>
                                    <input name="city" class="form-control" id="inputEmailAddress" type="text"
                                        placeholder="Enter your City">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Zip Code</label>
                                    <input name="zip" class="form-control" id="inputEmailAddress" type="text"
                                        placeholder="Enter Zip Code">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">District</label>
                                    <input name="district" class="form-control" id="inputEmailAddress" type="text"
                                        placeholder="Enter your District">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">State</label>
                                    <input name="state" class="form-control" id="inputEmailAddress" type="text"
                                        placeholder="Enter your State">
                                </div>

                                <div class="row gx-3 mb-3">

                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        <input name="phone" class="form-control" id="inputPhone" type="tel"
                                            placeholder="Enter your Alt phone number">
                                    </div>
                                </div>

                                <button class="btn btn-primary" type="submit">Save Address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <%- include('../layouts/commonfooter.ejs',{session}) %>
        <%- include('../layouts/footer.ejs') %>