<%- include('../layouts/header.ejs') %>
<section class="" style="background-color: rgb(141, 183, 143); overflow: hidden;" >
  <div class="container py-5 h-100">
    <div>
      <img class="ms-5" src="/userImages/logo.png">
    </div>
    <div class="row d-flex align-items-center justify-content-center mt-5 h-100" style="width: 80%; margin-left: auto; margin-right: auto; background-color: aliceblue; padding: inherit;">
      <div class="col-md-8 col-lg-7 col-xl-6 d-grid justify-content-end " style="margin-bottom: 12vh;" >
        <img src="/userImages/istockphoto-692909922-612x612.jpg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
       <form class="mx-1 mx-md-4" action='/signup' method="post" id="signupform">

                  <div class="d-flex flex-row align-items-center mb-1">
                   
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="username" id="username" class="form-control " placeholder="User Name" />
                     
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Email Address" />
                    
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-1">
                    
                    <div class="form-outline flex-fill mb-0">
                      <input type="mobile" name="phone" id="phone" class="form-control mt-3" placeholder="Mobile Number" />
                     
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="password" id="password" class="form-control mt-3" placeholder="Password" />
                     
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="Rpassword" id="rpassword" class="form-control mt-3" placeholder="Repeat your password" />
                    
                    </div>
                  </div>

                  <div>
                    <% if(typeof message!='undefined'||typeof msg!='undefined'){
                        %>
                        <small class="text-success"><%= message %></small>
                        <small class="text-danger"><%= msg %></small>
                        <small class="text-danger error"></small>
                        <%
                    } 
                    %>
                   
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg mt-3">Register</button>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <a href="http://localhost:3000/login">Already have account</a>
                    </div>

                </form>
               
      </div>
    </div>
  </div>
</section>


<style>
.bgstyle{
  background-color: lightgray;
}</style>
<%- include('../layouts/footer.ejs')%>
<script>
  const form = document.getElementById("signupform");
  
  const usernameInput = document.getElementById("username");
  const emailInput = document.getElementById("email");
  const mobileInput = document.getElementById("phone");
  const passwordInput = document.getElementById("password");
  const rpasswordInput = document.getElementById("rpassword");
  const errorElement = document.querySelector('.error');

  const regex_email = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  const regex_mobile = /^\d{10}$/;
  const regex_password = /^(?=.*?[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]){8,16}/gm;
  
  form.addEventListener('submit', (e) => {
  let messages = '';
  if (usernameInput.value.trim().length==0||usernameInput.value.trim().length<3||usernameInput.value.trim().length>16) {
   messages="must be between 3 and 16 characters long."
    
  }
  if (!regex_email.test(emailInput.value)) {
     messages= "Email address must be valid."
  }
  
  if (!regex_mobile.test(mobileInput.value)) {
    messages=  "Mobile number must be a 10-digit number."
  }
  if (!regex_password.test(passwordInput.value)) {
    messages=  "Password must have at least one uppercase letter, one lowercase letter, one number, one special character, and be between 8 and 16 characters long."
  }
  
  if (passwordInput.value !== rpasswordInput.value) {
    messages=  "Passwords do not match."
  }
  
  if (messages.length>0) {
    e.preventDefault()
    errorElement.innerText = messages
  }
})
</script>
